.header-color{
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid{
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  position: fixed;
  left: 0px;
  height: 100%;
  width: 100%;
}

.project-grid{
  display:flex;
}

.resume-right-col{
  background: #27221F;
  color: white;
  padding:2em;
}

.contact-body{
  margin: auto;
  position: fixed;
  width:100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  background: #304352;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contact-grid{
  text-align: center;
  justify-content: center;
  width:80%;
  height:80%;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2{
  font-family: 'Anton', sans-serif;
}

.contact-grid p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bolder;
}

.contact-grid hr{
  margin: auto;
  border-top: 5px dotted black;
  width : 50%;
  justify-content: center;
}

.contact-list i{
  font-size: 60px;
  padding-right: 5rem;
}

.avatar-img{
  vertical-align: middle;
  height: 250px;
  border-radius: 50%;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: xx-large;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width:50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: large;
  padding : 1em;
}

.social-links{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width:50%;
}

.social-links i {
  color: antiquewhite;
  font-size: 5em;
  padding: 8px;
}
